.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}A

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* FIKSIRAN NAVBAR */
.custom-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: white;
  padding: 0 2rem;
  border-bottom: 1px solid #ddd;
  display: flex;
  align-items: center;
  z-index: 1000;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* NAVBAR LINKOVI */
.navbar-left {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.navbar-left a {
  color: black;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.2s ease-in-out;
}

.navbar-left a:hover {
  color: #777;
}

.separator {
  color: #999;
  font-weight: 400;
}

/* POMERA SADRŽAJ ISPOD NAVBARA */
body {
  margin: 0;
  padding: 0;
}

#root {
  padding-top: 70px; /* jednako visini navbara */
}

.naslov-stranice {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  margin-top: 3rem;
  margin-bottom: 2rem;
  color: black;
}



