.stranica-wrapper {
  padding-top: 70px; /* da se breadcrumb ne zalepi za navbar */
}

.prijava-container {
  background-color: white;
  min-height: calc(100vh - 70px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.prijava-forma {
  width: 100%;
  max-width: 400px;
  padding: 2rem;
}

.link-registracija {
  margin-top: 1.5rem;
  text-align: center;
}

.link-registracija a {
  color: #0000EE;
  text-decoration: none;
}

.link-registracija a:hover {
  text-decoration: underline;
}
