.breadcrumbs {
  font-size: 0.9rem;
  margin-top: 1rem;
  margin-left: 2rem;
  margin-bottom: 0.2rem;
  color: black;
  font-weight: 500;
}

.breadcrumbs a {
  color: #5F7161;
  text-decoration: none;
}

.breadcrumbs a:hover {
  text-decoration: underline;
}
