.input-group {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

.input-label {
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.input-element {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #5F7161;
  border-radius: 0;
}

.input-element:focus {
  outline: none;
  border-color: #007bff;
}

.input-error {
  border-color: #BE3144;
}

.input-error-message {
  color: #BE3144;
  font-size: 0.85rem;
  margin-top: 0.25rem;
}
